*.class
*.log
.idea
.DS_Store
.cache/
.history/
.lib/
dist/
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/project/
project/target/
node_modules/
data/